.container {
    .tableContainer {
        border-collapse: collapse;
        width: 100%;
        margin-top: 1em;

        tr {
            font-family: 'Poppins', sans-serif;
            text-align: left;
            border-bottom: 1px solid rgb(219, 219, 219);

            th {
                padding-bottom: 1em;
            }

            td {
                padding: 1em;
                padding-left: 0;
            }

            .appImage {
                display: flex;
                align-items: center;
                gap: 0.5em;

                img {
                    width: 25px;
                    -webkit-user-drag: none;
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        overflow-x: scroll;

        .tableContainer {
            border: 1px solid rgb(235, 233, 233);
        }
    }
}
